/******************************************
            TABLE OF CONTENTS
------------------------------------------
    1.  GENERAL STYLES
    2.  HOME (Jack)
    3.  ABOUT THE SCHOOL (Volha)
    4.  LEARNING AND COLLABORATION (Sherry)
    5.  EVENTS (Evelyn)
    6.  OUR WORKS (Sherry)
    7.  HISTORY (Volha)
    8.  DONATE (Volha)
    9.  WIKI (Jack)
    10. COURSES (Evelyn)
    11. CAREERS AND INTERNSHIPS (Evelyn)
    11. INTERDISCIPLINARY COLLABORATIONS (Sherry)
*****************************************/

/* ****************************************
*******************************************
    1. GENERAL STYLES
*******************************************
***************************************** */
/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.shippori-antique-b1-regular {
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

:root {
    /*Grey*/
    --header-color: #ddd;
    --legend-background: rgba(221, 221, 221, .6);
    --text-color: #4b4b4b;
    /*Orange*/
    --darkaccent-color: #cb5227;
    --brightaccent-color: #ea8b4f;
    /*Blue*/
    --callout-color: #1d3869;
    --lightcallout-color: #72a4d7;
    /*Layout*/
    --spacer: 1rem;
    --spacer-dbl: calc(var(--spacer)*2);
    --corners: 8px;
    /*Typography*/
    --main-heading: "Notable", sans-serif;
    --secondary-heading: "Shippori Antique B1", sans-serif;
    --body-font: "Montserrat", sans-serif;
}
html {
    font: 10px var(--body-font);
    color: var(--text-color);
}

/* HEADER AND PARAGRAPH STYLING START */
h1 {
    font-family: var(--main-heading);
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--callout-color);
    display: flex;
}

h2 {
    text-align: center;
    margin-top: 2rem;
    color: var(--text-color);
    font-family: var(--main-heading);
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.4;
    padding: 1rem 2rem 2rem;
    font-weight: 600;
}

h3,
h4 {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* HEADER AND PARAGRAPH STYLING END */

/* RESPONSIVE IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BODY AND MAIN FLEX FOR MOBILE DESIGN*/
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}



/* HEADER - FLEX, COLOR, AND PADDING*/
header { 
    display: flex;
    flex-direction: row;
    background-color: var(--header-color);
    padding: 2em;
    justify-items: center;
}
/* CREST SIZING */
header img {
    max-height: 4em;
    padding-right: 1em;
}

/* PREVENTS SCHOOL NAME FROM GETTING CUT OFF AT VERY SMALL WIDTHS < 300PX*/
header h1 {
    min-width: 9em;
}
/* SIZING ON YSOA */
#yale {
    font-size: 1.2em;
    transform: scale(1, 2.3);
    margin: .6rem .25em 0 0;
}
#soa { 
    line-height: .9em;
}

/* MOBILE NAV MENU */
header nav {
    position: absolute;
    top: 8em;
    left: 0em;
    width: 100%;
    display: none;
}

header nav li {
    padding: 1rem;
    border-bottom: solid 1px #999;
    background-color: var(--header-color);
}

header nav li:first-of-type {
    border-top: solid 1px #999;
}

header nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--callout-color);
}

header nav li a:hover {
    background-color: darkgrey;
}

.navToggler:checked~nav {
    display: block;
}

.menuClose {
    display: none;
    align-self: flex-end;
}

.navToggler {
    display: none;
    align-items: center;
}

.navTogglerMenu {
    height: 4em;
    min-width: 4em;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}
  
.navToggler:checked~.navTogglerMenu .menuClose {
    display: block;
}

.navToggler:checked~.navTogglerMenu .menuOpen {
    display: none;
}
/* END OF MOBILE NAV MENU */

/*  FOOTER  */
footer {
    display: grid;
    grid: .8fr .8fr 1.5fr min-content / 1fr 1fr;
    background-color: var(--header-color);
}
footer .btt {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: var(--text-color);
    text-transform: uppercase;
    align-content: center;  
    font-size: 2em;
}
footer nav {
    align-self: center;
    justify-self: center;
}
footer a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}
footer img[src$=".svg"] {
    min-height: 65px;
}
footer .socials {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
}
footer .socials li {
    display: inline-block;
    padding: 2em .6em;
    font-size: 1.5em;
}
footer .footerLinks a {
    grid-column: 1/2;
    grid-row: 3/4;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    line-height: 1.3em;
}
footer .footerLinks li {
    text-align: left;
    padding-bottom: 1em;
    padding-left: 3rem;
    align-self: center;
}
footer .footerLinks li .schoolName {
    font-weight: bold;
    font-size: 1.5em;
}
footer p {
    grid-column: 1/-1;
    grid-row: -2/-1;
    align-content: center;
    color: rgba(0,0,0,.4);
    line-height: 1.2;
    padding: 1em 0;
    text-align: center;
}
footer img {
    grid-column: 2/-1;
    grid-row: 3/4;
    max-height: 9em;
    align-self: center;
    justify-self: center;
}
footer p {
    grid-column: 1/-1;
    grid-row: -2/-1;
    align-content: center;
    color: rgba(0, 0, 0, .4);
    line-height: 1.2;
    padding: 1em 4em;
    text-align: center;
}
/*  FOOTER END */

/* MID SCREEN LAYOUT */
@media screen and (min-width: 720px) {
  /* HEADER NAV */
  header nav {
        all: unset;
        display: flex;
    }
    header input.navToggler, header label.navToggler, header img.menuOpen, header img.menuClose {
        display: none;
    }
    header nav ul {
        position: absolute;
        top: 8em;
        left: 0em;
        width: 100%;
        display: flex;
    }
    header nav ul li {
        flex-grow: 1;
        border-bottom: none;
    }
    header nav li:hover { 
        border-bottom: solid 1px #999;
        background-color: darkgray;
    }
    header nav li:first-of-type { border-top: none; }
  /* END OF HEADER NAV*/
  
  /* FOOTER MID SCREEN */
    .btt { 
        display: none;
    }
    footer {
        grid: 1fr 1fr min-content / 1fr 1fr;
    }
    footer ul.socials {
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: flex-end;
    }
    footer img[src$=".svg"] {
         min-width: 60px;
    }
    footer ul.socials li {
        padding: 0 1em;
    }
    footer .socials li { 
      display: inline; 
    }
    footer nav {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    footer img {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: center;
    }
    footer p {
        grid-row: -2/-1;
        grid-column: 1/-1;
    }
    footer nav ul {
        display: grid;
        grid: 1fr 1fr / repeat(5, min-content) ;
    }
    footer nav ul li.sN {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    /* END OF MID SCREEN FOOTER NAV*/
}
/* LARGE SCREEN FOOTER NAV*/
@media screen and (min-width: 950px) {
    
    footer {
        grid: 1fr min-content / 1fr min-content 1fr;
        padding: 3em 2em;
    }
    footer ul.socials {
        justify-content: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    footer nav {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    footer p {
        grid-row: 2/3;
        grid-column: 1/-1;
    }
    footer img {
        grid-row: 1/2;
        grid-column: 3/4;
    }
}
/* END OF LARGE SCREEN FOOTER NAV*/


/* ****************************************
*******************************************
    2. HOME (Jack)
*******************************************
***************************************** */

/* global index size restriction to keep these elements uniform in mobile design */
.mfa, .bulletin, .mission, .events, .about { 
    max-width: 50em; 
}

article.mission p { 
    text-align: center; 
}

/* FIGURE&FIGCAPTION OVERLAY */
figure.landingFig { 
    position: relative; 
    margin-top: 1.5em;
}
  
figure.landingFig figcaption {
    font-family: var(--secondary-heading);
    background-color: rgba(232,232,232,.6);
    padding: .5em;
    position: absolute;
    bottom: .3rem;
    width: 98.9%;
    max-width: 98.9%;
    text-shadow: none;
    margin: 0em .05em;
    font-size: 3.5em;
    /*USED TO OUTLINE TEXT IN FIGCAPTIONS*/
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #000;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    text-align: center;
}
@media screen and (min-width: 350px) {
    figure.landingFig figcaption {
        width: 99.2%;
        max-width: 99.2%;
    }
}

figcaption#darkBG {
    background-color: rgba(125, 125, 125, .2);
}

figure.landingFig img {
    border: solid 2px rgba(0, 0, 0, .5);
    object-fit: cover;
    height: 100%;
}

/* FIGURE/ FIGCAPTION OVERLAY END */

article.landingArt {
    border-bottom: solid 1px rgba(0, 0, 0, .4);
    padding-bottom: 5em;
    width: 90%;
    align-self: center;
}

article.landingArt section a.roundBorder {
  background-color: #CE4A1D;
  color: #fff;
  text-decoration: none;
  padding: .7em 1.5em;
  border-radius: .5em;
  align-self: center;
}

/* ABOUT SECTION START*/
.about {
    background-color: #1A386A;
    color: #fff;
    text-align: left;
    padding: 1.5em;
    margin: 5em 0;
}

.about h3 {
    padding-bottom: 1em;
}

.about p {
    line-height: 1.3;
    font-weight: 200;
}
/* ABOUT SECTION END*/

/* EVENTS SECTION START */
.events {
    color: var(--callout-color);
    display: flex;
    flex-direction: column;
}

article.events section {
    background-color: #71A3D8;
    padding: 2em;
    margin-bottom: 1em;
    display: grid;
    grid: 1fr min-content min-content 1fr / min-content 1fr;
    border-radius: 1em;
}

article.events section h3 {
    grid-row: 1/2;
    grid-column: 2/-1;
    font-weight: bold;
    font-family: var(--secondary-heading);
    padding: .5em 0 .5em 0;
    text-wrap: pretty;
}

article.events section a {
    grid-row: -2/-1;
    grid-column: 2/-1;
}

article.events section a.roundBorder {
    background-color: #284E8D;
    justify-self: center;
}

article.events section p.calDate {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column-reverse;
    align-self: start;
    font-size: 2em;
    line-height: 1.2;
    margin-right: 1em;
}
article.events section p.calDate .numFont {
    font-family: var(--main-heading);
    font-size: 1.5em;
    
}

article.events section p.p1 {
    grid-row: 2/3;
    grid-column: 2/-1;
}

article.events section p.p2 {
    grid-row: 3/4;
    grid-column: 2/-1;
}

article.events i {
    padding-right: 1em;
    width: 1.6em;
}

article.events>a.roundBorder {
    text-align: right;
    background-color: #1A386A;
    padding: 1em 2em;
    margin: 0;
    color: #fff;
    text-decoration: none;
    align-self: end;
}

.roundBorder {
    border-radius: 1em;
}
/* EVENTS SECTION END */

/* BULLETIN SECTION START */
article.bulletin section {
    background-color: #FFC39D;
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

article.bulletin section p {
    color: #A86A43;
    line-height: 1.2em;
    font-size: 1.3em;
    padding-bottom: 1.5em;
}

article.bulletin section h3 {
    color: #953819;
    padding-bottom: .5em;
}

article.bulletin section:nth-of-type(3) p {
    padding-bottom: 0;
}

article.bulletin section:nth-of-type(3) a {
    padding-top: .3em;
    color: #A86A43; 
}
/* BULLETIN SECTION END */

/* LARGE SCREEN HOME PAGE DESIGN */

@media screen and (min-width: 720px) {
    article.mfa { 
        display: grid; 
        grid: min-content min-content min-content / repeat(2, 1fr);
        gap: 1em;
        max-width: 775px; 
    }

    article.mfa h2 {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    /* BULLETIN LARGE SCREEN GRID SETUP */
    article.bulletin { 
        display: grid; 
        grid: repeat(3, min-content)/ repeat(4, 1fr);
    }
    
    article.bulletin h2 {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    article.bulletin section:nth-of-type(1) {
        grid-column: 1/3;
        grid-row: 2/3;

    }
    article.bulletin section:nth-of-type(2) {
        grid-column: 3/-1;
        grid-row: 2/3;
        /*justify-self: center;
        max-width: */
    }
    article.bulletin section:nth-of-type(3) {
        grid-column: 2/4;
        grid-row: -2/-1;
    }

    /* EVENTS LARGE SCREEN GRID SETUP */
    article.events { 
        display: grid; 
        grid: repeat(3, min-content)/ repeat(4, 1fr);
    }
    
    article.events h2 {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    article.events section:nth-of-type(1) {
        grid-column: 1/3;
        grid-row: 2/3;

    }
    article.events section:nth-of-type(2) {
        grid-column: 3/-1;
        grid-row: 2/3;
    }
    article.events section:nth-of-type(3) {
        grid-column: 2/4;
        grid-row: -2/-1;
    }
    
    article.events > a.roundBorder {
        grid-column: -2/-1;
        grid-row: 3/4; 
        display: block;
        justify-self: end;
        margin-right: 1em;
    }
    
    
    img.roundBorder {
        max-height: 470px;
    }
    
    .bulletin section, 
    .events section, 
    .mfa figure {
        margin: 0 1em;
    }


    .mission {
        display: flex;
        flex-direction: row;
        width: 90%;
        max-width: 1080px;
        padding-top: 5em;
    }
    
    .mission h2 {
        align-self: center;
    }

    .mission p {
        border-left: solid 1px #999;
        padding-left: 1em;
        text-align: left;
    }

    .mfa,
    .bulletin,
    /*.mission,*/
    .events
    /*.about*/ {
        max-width: 100%;
    }

    .mission {
        padding-top: 5em;
    }
}
@media screen and (min-width: 1080px) {
    article.bulletin { 
        display: grid; 
        grid: repeat(2, min-content) / repeat(3, 1fr);
    }
    article.bulletin h2 {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    article.bulletin.landingArt section:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: -2/-1;
    }
    article.bulletin.landingArt section:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: -2/-1;
    }
    article.bulletin.landingArt section:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: -2/-1;
    }
    
    
    
    article.events {  
        grid: min-content min-content / repeat(3, 1fr);
    }
    article.events h2 {
        grid-column: 1/-1;
        grid-row: 1/2;
    } 
    article.events.landingArt section:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: -2/-1;
    }
    article.events.landingArt section:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: -2/-1;
    }
    article.events.landingArt section:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: -2/-1;
    }
    
    article.events > a.roundBorder {
        grid-column: -2/-1;
        grid-row: 3/4; 
    }
}
@media screen and (min-width: 1350px) {
    article.mfa { 
        display: grid; 
        grid: min-content min-content / repeat(4, 1fr);
        max-width: 100%;
    }
    article.mfa h2 {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
}

/* Note end */

/* ****************************************
*******************************************
    3. ABOUT THE SCHOOL (Volha)
*******************************************
***************************************** */


/* ****************************************
*******************************************
    4. LEARNING AND COLLABORATION (Sherry)
*******************************************
***************************************** */
figure {
    margin: calc(var(--spacer)/2);
    position: relative;
}

figcaption {
    text-align: center;
    font-size: 1.6rem;
    color: black;
    background-color: var(--legend-background);
    text-shadow: 1px 0 0 white,
        -1px 0 0 white,
        0 1px 0 white,
        0 -1px 0 white;
    padding-top: var(--spacer);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 400px;
}

#learningOfferings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 2rem 2rem 0;
}

#wikiContributeBtn,
#supportUsBtn {
    grid-column: 1/-1;
    font-size: 1.6rem;
    color: #fff;
    border: none;
    background-color: var(--darkaccent-color);
    padding: calc(var(--spacer-dbl)*1.5);
    width: 60%;
    margin: 1rem auto;
    border-radius: var(--corners);
}

#fourPillars {
    background-color: var(--callout-color);
    color: white;
    padding: var(--spacer-dbl);
    border-radius: var(--corners);
    margin-bottom: var(--spacer-dbl);
    display: grid;
    grid-template-columns: 1fr;

}

#fourPillars img {
    justify-self: center;
}

#collabStory {
    display: grid;
    grid-template-columns: 1fr;
}

#supportUsBtn {
    background-color: var(--callout-color);

}

#sentrees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

#forestReflections {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#forestReflections h2,
#forestReflections p {
    justify-self: start;
}

#learningMain {
    max-width: 700px;
    margin: auto;
}

/* Large Screen */
@media screen and (min-width: 1000px) {
    #learningMain {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        row-gap: 2rem;
        max-width: 1400px;
        align-items: flex-start;
    }

    #learningMain h1,
    #collabStory {
        grid-column: 1/-1;
    }

    #collabStory {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    #sentrees {
        order: 2;
        margin-left: var(--spacer-dbl);
    }
}

/* ****************************************
*******************************************
    5. EVENTS (Evelyn)
*******************************************
***************************************** */


/* ****************************************
*******************************************
    6. OUR WORKS (Sherry)
*******************************************
***************************************** */
#paintingWorks,
#graphicDesign,
#photography,
#sculpture {
    position: relative;
}

#paintingWorks img,
#photography img {
    width: 175px;
    height: 175px;
    float: left;
    shape-outside: circle(50%);
    margin-right: 2.5rem;
}

#graphicDesign img,
#sculpture img {
    width: 175px;
    height: 175px;
    float: right;
    shape-outside: circle(50%);
    margin-left: 1rem;
}

#paintingWorks::after,
#graphicDesign::after,
#photography::after,
#sculpture::after {
    content: " ";
    display: block;
    clear: both;
}

#painterDan img {
    display: block;
    margin: .5rem auto;
}

#painterDan {
    background-color: var(--callout-color);
    background: radial-gradient(circle at center, white 0, white 40%, var(--callout-color) 60%);
    border-radius: var(--corners);
}

/*Our Works Large Screen*/
@media screen and (min-width: 800px) {
    #disciplinesSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        row-gap: 1rem;
    }

    #painterDan {
        grid-column: 1/-1;
    }

    #moreWorks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}
/* ****************************************
*******************************************
    7. HISTORY (Volha)
*******************************************
***************************************** */


/* ****************************************
*******************************************
    8. DONATE (Volha)
*******************************************
***************************************** */


/* ****************************************
*******************************************
    9. WIKI (Jack)
*******************************************
***************************************** */


/* ****************************************
*******************************************
    10. COURSES (Evelyn)
*******************************************
***************************************** */


/* ****************************************
*******************************************
    11. CAREERS AND INTERNSHIPS (Evelyn)
*******************************************
***************************************** */


/* ****************************************
*******************************************
    12. INTERDISCIPLINARY COLLABORATIONS (Sherry)
*******************************************
***************************************** */
    /*Table Styles*/
    table {
        font-size: 1.6rem;
        line-height: 1.42;
        padding-bottom: var(--spacer-dbl);
    }

    td,
    th {
        padding: 7px;
        border: 1px dotted var(--callout-color);
        text-align: left;
        vertical-align: top;

    }

    tr:nth-of-type(odd) {
        background-color: rgba(234, 139, 79, .1);
    }

    tr:nth-of-type(even) {
        background-color: rgba(114, 164, 215, .1);
    }

    th,
    td:nth-of-type(2),
    td:nth-of-type(1) {
        background-color: var(--callout-color);
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
    }

    /* Mobile Table Style */
    @media screen and (max-width: 1000px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td {
            border: none;
            border-bottom: 2px inset #fff;
            position: relative;
            padding-left: 45%;
        }

        td:before {
            position: absolute;
            left: 7px;
            width: 40%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }

        td:nth-of-type(1):before {
            content: "";
        }

        td:nth-of-type(2):before {
            content: "";
        }

        td:nth-of-type(3):before {
            content: "Description:";
        }

        td:nth-of-type(4):before {
            content: "Collaboration Opportunities:";
        }

        td:nth-of-type(5):before {
            content: "Funding Source/ Availability:";
        }

        td:nth-of-type(6):before {
            content: "Dates/ Contact:";
        }

        td:nth-of-type(1) {
            padding-left: 0%;
        }

        td:nth-of-type(2) {
            padding-left: 7px;
            text-align: center;
        }

        table img {
            display: block;
            margin: auto;
        }

        td:nth-of-type(6),
        th:nth-of-type(6) {
            padding-bottom: var(--spacer-dbl);
        }

        tr:last-of-type {
            margin-bottom: var(--spacer);
        }

    }

    @media screen and (max-width: 575px) {
        table {
            font-size: 85%;
            min-width: 335px;
        }
    }

    /* Large Screen */
    @media screen and (min-width: 1000px) {
        td:first-child {
            width: 250px;
        }

        td:nth-of-type(6),
        th:nth-of-type(6) {
            border-right: 5px solid var(--callout-color);
        }

        tr:last-of-type {
            border-bottom: 5px solid var(--callout-color);
        }

        main {
            max-width: 1400px;
            margin: auto;
        }
    }
